<div class="masthead-about" style="background-image: url('img/vinyard.jpg');">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-white">Vinlogとは</h1>
        <p class="lead text-white">投稿された、ワインをレビューしていくサービスです。<br> 好きなワインを投稿し、他のユーザーと楽しく自分の好きなワインを共有できます。</p>
        <button type="button" class="btn btn-danger">Vinlogを始める</button>
      </div>
    </div>
  </div>
</div>