.masthead-about {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.like-btn {
 color: #808080; 
 }

.unlike-btn {
 color: #e54747;
 }
 
.text {
  padding-bottom: 4px;
  width: 250px;
  height: 38px;
 }

.showcase .showcase-img {
  background-position-x: center;
}

@media(max-width: 567px) {
  .showcase .showcase-img {
    min-height: 20rem;
  }
}

.wine {
    width: 100%;
   max-width: 100%;
    height: auto;
  }
  
  @media(max-width: 567px) {
  .wine-image {
    height: 350px;
  }
}