.masthead-about {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.like-btn {
 color: #808080; 
 }

.unlike-btn {
 color: #e54747;
 }
 
.text {
  width: 400px;
  height: 38px;
 }

 